@media (max-width: 50em) {
  .banner {
    grid-template-columns: 1fr;
    /* max-width: calc(327rem / 16); */
    min-width: calc(187rem / 16);
  }
  .img-box {
    grid-row: 1;
    height: calc(240rem / 16);
  }
  .text-box {
    padding: 40px 28px 0 28px;
    text-align: center;
  }

  .heading {
    font-size: var(--28px);
    line-height: 1.14;
    margin-bottom: var(--16px);
  }

  .content-text {
    margin-bottom: calc(40rem / 16);
  }

  .row-summary {
    flex-direction: column;
    gap: 24px;
    margin-bottom: calc(32rem / 16);
  }
}

/* ***********************
Safari gap fix
*********************** */

.no-flexbox-gap .banner {
  margin-bottom: 20px;
}

.no-flexbox-gap .column-summary {
  margin-right: 63px;
}

.no-flexbox-gap .column-summary:nth-child(3) {
  margin-right: 0;
}

.no-flexbox-gap .num {
  margin-bottom: 2px;
}
